<nav class="navbar  navbar-inverse bg-inverse">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">G³owna</a></li>
			<li><a href="#">Liga 1</a></li>
			<li><a href="#">Liga 2</a></li>
			<li><a href="#">Liga 3</a></li>
			<li><a href="#/login">Logowanie</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">Administracja</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">Profil <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Moj Profil</a></li>
					<li><a href="#">Another action</a></li>
					<li class="divider"></li>
					<li><a href="#">Wyloguj</a></li>
				</ul></li>
		</ul>
	</div>
</nav>