<script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
<script
	src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

<div class="panel  col-lg-12 text-center container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<nav class="navbar  navbar-inverse bg-inverse">
				<div class="container-fluid">

					<ul class="nav navbar-nav">
						<li><a ng-click="liga('all')" href="#/glowna">Glowna</a></li>
						<li class="active"><a ng-click="liga('1')" href="#/liga1">Liga
								1</a></li>
						<li><a ng-click="liga('2')" href="#/liga2">Liga 2</a></li>
						<li><a ng-click="liga('3')" href="#/liga3">Liga 3</a></li>
						<li><a ng-click="create()" id="createButton">Edycja</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#/kontakt">Kontakt</a></li>
						<li><a href="#/login">Logowanie</a></li>

					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4"></div>
		<div class="liga col-lg-4 text-center">
			<h2>Liga 1</h2>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-3 text-center"></div>
	</div>


	<div class="row">

		<div class="bestPlayer  container-fluid col-lg-3 text-center">
			<h2>Najlepsi Pilakrze</h2>
			<table id="tScoreMatchs" class="table-bordered table-hover">
				<thead>
					<tr class="warning">
						<th class="warning" data-field="playerId">#</th>
						<th class="warning" data-field="bramki">Bramki</th>
						<th class="warning" data-field="druzyna">Druzyna</th>
						<th class="danger" data-field="leagueId">LeagueId</th>
						<th class="warning" data-field="zawodnik">Zawodnik</th>
					</tr>
				</thead>
				<tbody>
					<tr class="danger" ng-repeat="data in scorersclassification"
						data-toggle="modal" data-target="#myModal"
						ng-click="showData(data)">
						<td>{{ data.playerId }}</td>
						<td>{{ data.bramki }}</td>
						<td>{{ data.druzyna }}</td>
						<td>{{ data.leagueId }}</td>
						<td>{{ data.zawodnik }}</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="ostatniakolejka  container-fluid col-lg-3 text-center">
			<h2>Ostatnia kolejka</h2>
			<table id="tScoreMatchs" class="table-bordered table-hover">
				<thead>
					<tr class="warning">
						<th class="warning" data-field="matchId">#</th>
						<th class="warning" data-field="teamAwayName">Team 1</th>
						<th class="warning" data-field="goalsAway">W1</th>
						<th class="danger" data-field="goalsHome">W2</th>
						<th class="warning" data-field="teamHomeName">Team 2</th>
					</tr>
				</thead>
				<tbody>
					<tr class="danger" ng-repeat="data in lastmatchweek"
						data-toggle="modal" data-target="#matchDetailsModal"
						ng-click="getMatchDetails(data.teamAwayId,data.teamHomeId)">
						<td>{{ data.matchId }}</td>
						<td>{{ data.teamAwayName }}</td>
						<td>{{ data.goalsAway }}</td>
						<td>{{ data.goalsHome }}</td>
						<td>{{ data.teamHomeName }}</td>
					</tr>
				</tbody>
			</table>
		</div>



		<div class="bestTeam  container-fluid col-lg-3 text-center">
			<h2>Best Team</h2>
			<table id="tScoreMatchs" class="table-bordered table-hover">
				<thead>
					<tr class="warning">
						<th class="warning" data-field="teamId">#</th>
						<th class="warning" data-field="goalsLost">Stracone</th>
						<th class="warning" data-field="goalsScored">Zdobyte</th>
						<th class="danger" data-field="points">Punkty</th>
						<th class="warning" data-field="name">Nazwa</th>
					</tr>
				</thead>
				<tbody>
					<tr class="danger" ng-repeat="data in bestTeam" data-toggle="modal"
						data-target="#teamDetails" ng-click="getTeamDetails(data.teamId)">
						<td>{{ data.teamId }}</td>
						<td>{{ data.goalsLost }}</td>
						<td>{{ data.goalsScored }}</td>
						<td>{{ data.points }}</td>
						<td>{{ data.name }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-lg-12"></div>
		</div>


	</div>

</div>





<!-------------------------TEAM DETAILS---------------------------------- -->
<div class="modal fade" id="teamDetails" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Team Details</h4>
			</div>
			<div class="modal-body">
				<div class="row">

					<table id="playerListinTeam"
						class="table-bordered table-hover">
						<thead>
							<tr class="warning">
								<th class="warning" data-field="id">#</th>
								<th class="warning" data-field="dateOfBirth">Data ur</th>
								<th class="warning" data-field="name">Zawodnik</th>
								<th class="warning" data-field="nationality">Narodowosc</th>
								<th class="warning" data-field="position">Pozycja</th>

							</tr>
						</thead>
						<tbody>
							<tr class="danger" ng-repeat="data in playerListTeam">
								<td>{{ data.id }}</td>
								<td>{{ data.dateOfBirth }}</td>
								<td>{{ data.name }}</td>
								<td>{{ data.nationality }}</td>
								<td>{{ data.position }}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class="modal-footer"></div>
		</div>

	</div>
</div>




<!-------------------------MATCH DETAILS---------------------------------- -->
<div class="modal fade" id="matchDetailsModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Team Details</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-1"></div>
					<table id="matchDetailsHome"
						class="table-bordered table-hover col-lg-4">
						<thead>
							<tr class="warning">
						<th class="warning" data-field="playerId">#</th>
						<th class="warning" data-field="dateOfBirth">Data Ur</th>
						<th class="warning" data-field="name">Zawodnik</th>
						<th class="warning" data-field="nationality">Nacja</th>
						<th class="warning" data-field="position">Pozycja</th>

							</tr>
						</thead>
						<tbody>
							<tr class="danger" ng-repeat="data in playerListAway">
								<td>{{ data.playerId }}</td>
								<td>{{ data.dateOfBirth }}</td>
								<td>{{ data.name }}</td>
								<td>{{ data.nationality }}</td>
								<td>{{ data.position }}</td>
							</tr>
						</tbody>
					</table>
				<div class="col-lg-1"></div>
				<table id="matchDetailsAway"
						class="table-bordered table-hover col-lg-4">
						<thead>
							<th class="warning" data-field="playerId">#</th>
						<th class="warning" data-field="dateOfBirth">Data Ur</th>
						<th class="warning" data-field="name">Zawodnik</th>
						<th class="warning" data-field="nationality">Nacja</th>
						<th class="warning" data-field="position">Pozycja</th>

							</tr>
						</thead>
						<tbody>
							<tr class="danger" ng-repeat="data in playerListHome">
							<td>{{ data.playerId }}</td>
								<td>{{ data.dateOfBirth }}</td>
								<td>{{ data.name }}</td>
								<td>{{ data.nationality }}</td>
								<td>{{ data.position }}</td>
							</tr>
						</tbody>
					</table>
				
				<div class="col-lg-2"></div>
				</div>
			</div>

			<div class="modal-footer"></div>
		</div>

	</div>
</div>
