<script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
<script
	src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

<div class="panel  col-lg-12 text-center container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<nav class="navbar  navbar-inverse bg-inverse">
				<div class="container-fluid">

					<ul class="nav navbar-nav">
						<li><a ng-click="liga('all')" href="#/panel">Glowna</a></li>
						<li class="active"><a ng-click="liga('l1')" href="#/liga1">Liga
								1</a></li>
						<li><a ng-click="liga('l2')" href="#/liga2">Liga 2</a></li>
						<li><a ng-click="liga('l3')" href="#/liga3">Liga 3</a></li>
						<li><a ng-click="create()" id="createButton">Edycja</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#/kontakt">Kontakt</a></li>
						<li><a href="#/login">Logowanie</a></li>

					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4"></div>
		<div class="liga col-lg-4 text-center">
			<h2>Liga 1</h2>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-3 text-center"></div>
	</div>

	<div class="row">
		<div class="  col-lg-1 text-center"></div>


		<div class="scoreMatchs  container-fluid col-lg-4 text-center">
			<h2>Score Match</h2>
			<table id="tScoreMatchs" class="table-bordered table-hover">
				<thead>
					<tr class="warning">
						<th class="warning" data-field="id">#</th>
						<th class="warning" data-field="team1">Team 1</th>
						<th class="warning" data-field="team2">Team 2</th>
						<th class="danger" data-field="date">Data</th>
						<th class="warning" data-field="score">Wynik</th>
					</tr>
				</thead>
				<tbody>
					<tr class="danger" ng-repeat="data in scoreMatchs"
						data-toggle="modal" data-target="#myModal"
						ng-click="showData(data)">
						<td>{{ data.id }}</td>
						<td>{{ data.team1.name }}</td>
						<td>{{ data.team2.name }}</td>
						<td>{{ data.date }}</td>
						<td>{{ data.scoreT1 + ' : ' + data.scoreT2 }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="  col-lg-2 text-center"></div>
		<div class="futureMatch container-fluid col-lg-4 text-center">
			<h2>Future Match</h2>
			<table id="tFutureMatch" class="table-bordered table-hover">
				<thead>
					<tr class="warning">
						<th class="danger" data-field="id">#</th>
						<th class="danger" data-field="team1">Team 1</th>
						<th class="danger" data-field="team2">Team 2</th>
						<th class="danger" data-field="date">Data</th>
					</tr>

				</thead>
				<tbody>
					<tr class="danger" ng-repeat="data in futureMatchs"
						data-toggle="modal" data-target="#myModal"
						ng-click="showData(data)">
						<td>{{ data.id }}</td>
						<td>{{ data.team1.name }}</td>
						<td>{{ data.team2.name }}</td>
						<td>{{ data.date }}</td>
					</tr>

				</tbody>
			</table>
		</div>

		<div class="  col-lg-1 text-center"></div>
		<div class="row">
			<div class="col-lg-12">

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Modal Header</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div
										class="teamFootbaler1 container-fluid col-lg-6 text-center">
										<h2>Name : {{nameTeam1}}</h2>
										<h2>Position : {{teamPos1}}</h2>
										<table id="teamFootbaler1" class="table-bordered table-hover">
											<thead>
												<tr class="warning">
													<th class="danger" data-field="id">#</th>
													<th class="danger" data-field="Name  ">Name</th>
													<th class="danger" data-field="Surname   ">Surname</th>
													<th class="danger" data-field="Position">Position</th>
													<th class="danger" data-field="Penalties">Penalties</th>
												</tr>

											</thead>
											<tbody>
												<tr class="danger" ng-repeat="data in listFootballer1">
													<td>{{ data.id }}</td>
													<td>{{ data.name }}</td>
													<td>{{ data.surname}}</td>
													<td>{{ data.position }}</td>
													<td>{{ data.penalties }}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div
										class="teamFootbaler1 container-fluid col-lg-6 text-center">
										<h2>Name : {{nameTeam2}}</h2>
										<h2>Position : {{teamPos2}}</h2>
										<table id="teamFootbaler2" class="table-bordered table-hover">
											<thead>
												<tr class="warning">
													<th class="danger" data-field="id">#</th>
													<th class="danger" data-field="Name  ">Name</th>
													<th class="danger" data-field="Surname   ">Surname</th>
													<th class="danger" data-field="Position">Position</th>
													<th class="danger" data-field="Penalties">Penalties</th>
												</tr>

											</thead>
											<tbody>
												<tr class="danger" ng-repeat="data in listFootballer2">
													<td>{{ data.id }}</td>
													<td>{{ data.name }}</td>
													<td>{{ data.surname}}</td>
													<td>{{ data.position }}</td>
													<td>{{ data.penalties }}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-info btn-lg"
									data-toggle="modal" data-target="#myModalEdycja"
									ng-click="editData()">Edit Details</button>
								
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>
					<!-- Modal  edycja--------------------------------------------------------- -->
					<div class="modal fade" id="myModalEdycja" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal Header</h4>
								</div>
								<div class="modal-body">
									<div class="row">

										<div class="form-group">
											<label> Team 1 Name </label> <input value="{{team1name}}" class="form-control"	id="team1name" />
										</div>
										<div class="form-group">
											<label> Team 2 Score </label> <input value="{{team1score}}" class="form-control"	id="team1score" />
										</div>
										<div class="form-group">
											<label> Team 2 Name </label> <input  value="{{team2name}}" class="form-control"	id="team2name" />
										</div>
										<div class="form-group">
											<label>Team 2 Score </label> <input value="{{team2score}}" class="form-control"	id="" />
										</div>
										<div class="form-group">
											<label> Date </label> <input value="{{date}}" class="form-control"	id="date" />
										</div>
										<div class="form-group">
											<label> Liga </label> <input value="{{liga}}" class="form-control"	id="liga" />
										</div>
								
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal" ng-click="saveEditData()">Save Edit Data</button>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>


		</div>

	</div>