<div class="panel  col-lg-12 text-center container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
			<nav class="navbar  navbar-inverse bg-inverse">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
						<li class="active"><a ng-click="liga('all')"  href="#/panel">Glowna</a></li>
						<li><a ng-click="liga('l1')"  href="#/liga1">Liga 1</a></li>
						<li><a ng-click="liga('l2')" href="#/liga2">Liga 2</a></li>
						<li><a ng-click="liga('l3')" href="#/liga3">Liga 3</a></li>
						<li><a  ng-click="create()" id="createButton">Edycja</a></li> 
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#/kontakt">Kontakt</a></li>
						<li><a href="#/login">Logowanie</a></li>
					
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4"></div>
		<div class="liga col-lg-4 text-center">
			<h2>Liga Pilkarksa</h2>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-3 text-center">Kontakt nr tel 077</div>
	</div>





	<div class="row">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Najnowsze Info
							</h3>

							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
Pomoc 							</h3>
							<p>
Jakis tekst							</p>
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Najnowsze info
							</h3>
							<p>
nahniwsze info tez							</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>



